* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 30px;
  background-color:turquoise;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  width: 800px;
  height: 500px;
}

a {
  color:turquoise;
  font-size: 24px;
}

l1 {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
}

nav ul {
display: flex;
justify-content: space-between;
min-width: 300px;
color: #13293d;
}

nav > ul > li {
display: inline;
margin-right: 10px;
}

.hero-banner {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  
}

.hero-banner h2 {
  background-color: turquoise;
  margin-bottom: 20px;
  margin-left: 900px;
}

.page-section {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;

} 

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 10px;
 }
 
 .grid-item {
  border: 10px solid turquoise;
  padding: 10px;
  
 }
 
 .big-box {
  grid-column: span 2;
  background-image: url("../images/02-portfolio-4.jpg");
  height: 400px;
  background-size: cover;
 }

 .title{
  border-right: 5px solid cadetblue;
  font-weight: bolder;
  font-size: 50px;
  
 }

 .spectrum  {
  background-image: url("../images/02-portfolio-1.jpg"); 
  background-size: cover;
 }

 .computer {
  background-image: url("../images/02-portfolio-2.jpg"); 
  background-size: cover;
  height: 300px;
 }
 
 .car {
  background-image: url("../images/02-portfolio-3.jpg"); 
  background-size: cover;
  height: 300px;
 }

 .web {
  background-image: url("../images/02-run-buddy.jpg"); 
  background-size: cover;
  height: 300px;
 }



 